<nav class="navbar fade-in">
    <div class="nav-left">
        <a href="#" id="home-link" class="nav-logo">
    <img src="/assets/img/logo.png" alt="Primal Logo" class="nav-logo-img">
</a>

    </div>

    <div class="nav-right">
        <a href="#" data-link="story">Story</a>
        <a href="#" data-link="characters">Characters</a>
        <a href="#" data-link="realms">Realms</a>
        <a href="#" data-link="clans">Clans</a>
        <a href="#" data-link="clans">Elements</a>
    </div>
</nav>
